@page
@using System.Text.RegularExpressions
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="container mt-5">
    <h1 class="mb-4">Latest Posts</h1>
    <hr />
    <div class="row">
        @foreach (var post in Model.Posts)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="image-container">
                        <img class="card-img-top" src="@post.PostImages.FirstOrDefault()?.ImageUrl" alt="@post.Title">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p>@post.CreatedDate.ToString("dd-MM-yyyy HH:mm") <img src="img/user.png" /> @post.User.FirstName @post.User.LastName</p>
                        <p class="card-text">
                            @Html.Raw(Regex.Replace(post.Content.Substring(0, Math.Min(post.Content.Length, 100)), @"<[^>]*>", string.Empty))...
                        </p>
                    </div>
                    <div class="read-more">
                        <a href="/PostDetails?id=@post.Id" class="btn btn-primary">Read more</a>
                    </div>
                    @if (post.UserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value || User.IsInRole("Admin"))
                    {
                        <a href="/Admin/EditPost/@post.Id" class="btn btn-warning mt-2">Edit</a>
                    }
                </div>
            </div>
        }
    </div>
</div>
