@page
@using System.Web
@model PostDetailsModel
@{
    ViewData["Title"] = Model.Post.Title;
}

<div class="container mt-5">
    <h1>@Model.Post.Title</h1>

    @if (Model.Post.UserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value || User.IsInRole("Admin"))
    {
        <a href="/Admin/DeletePost/@Model.Post.Id" class="btn btn-danger mt-3">Delete post</a>

        <a href="/Admin/EditPost/@Model.Post.Id" class="btn btn-warning mt-3">Edit post</a>
    }
    <p class="text-muted">@Model.Post.CreatedDate.ToString("yyyy-MM-dd HH:mm") <img src="img/user.png" /> @Model.PostOwner.FirstName @Model.PostOwner.LastName</p>
    <hr />
    <p>@Html.Raw(Model.Post.Content)</p>
    @if (Model.Post.PostImages.Count != 0)
    {
        <h3 class="mt-4">Photo gallery</h3>
        <div class="slider">
            @foreach (var image in Model.Post.PostImages)
            {
                <div>
                    <a href="@image.ImageUrl" data-lightbox="slider">
                        <img src="@image.ImageUrl" alt="Zdjęcie">
                    </a>
                </div>
            }
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.Post.MapLink))
    {
        <h3>Map</h3>
        <div class="map-container" style="height: 400px;">
            <iframe src="@Model.Post.MapLink"
                    width="100%"
                    height="300"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.Post.VideoLink))
    {
        <h3>Video</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="@Model.Post.VideoLink"
                    allowfullscreen
                    width="100%"
                    height="300"></iframe>
        </div>
    }

    <h3 class="mt-4">Comments</h3>
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" asp-page-handler="AddComment">
            <input type="hidden" name="id" value="@Model.Post.Id" />
            <input type="hidden" name="UserId" value="@Model.Post.UserId)" />
            <input type="hidden" name="Title" value="_" />
            <div class="form-group">
                <label for="Content">Add a comment</label>
                <textarea name="Content" class="form-control" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Add</button>
        </form>
    }
    else
    {
        <p>You must log in to post a comment.</p>
    }
    <div>
        @if (Model.Comment != null && Model.Comment.Any())
        {
            <div class="list-group">
                @foreach (var comment in Model.Comment)
                {
                    <div class="list-group-item">
                        <div id="comment-display-@comment.Id">
                            <p><img src="img/user2.png" /><strong>   @comment.User.FirstName @comment.User.LastName</strong>  <small>@(comment.UpdatedAt.HasValue ? $"Edytowano: {comment.UpdatedAt}" : $"{comment.CreatedAt}")</small></p>
                            <p>@comment.Content</p>
                        </div>

                        @if (comment.UserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value
                       || User.IsInRole("Admin")
                       || Model.Post.UserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value)
                        {
                            <form method="post" asp-page-handler="DeleteComment" style="display: inline;">
                                <input type="hidden" name="commentId" value="@comment.Id" />
                                <input type="hidden" name="id" value="@Model.Post.Id" />
                                <input type="hidden" name="UserId" value="@Model.Post.UserId)" />
                                <input type="hidden" name="Content" value="_" />
                                <input type="hidden" name="Title" value="_" />
                                <button type="submit" class="btn btn-link btn-sm text-danger text-decoration-none custom-edit" title="Delete">
                                    🗑️
                                </button>
                            </form>
                        }

                        <div id="comment-edit-@comment.Id" style="display: none;">
                            <form method="post" asp-page-handler="EditComment" onsubmit="return validateComment(@comment.Id);">
                                <input type="hidden" name="postId" value="@Model.Post.Id" />
                                <input type="hidden" name="UserId" value="@comment.UserId" />
                                <input type="hidden" name="Content" value="_" />
                                <input type="hidden" name="Title" value="_" />

                                <input type="hidden" name="commentId" value="@comment.Id" />
                                <textarea id="edit-content-@comment.Id" name="updatedContent" class="form-control">@comment.Content</textarea>
                                <span id="error-message-@comment.Id" class="text-danger" style="display: none;">Comment content cannot be empty!</span>
                                <button type="submit" class="btn btn-primary btn-sm mt-2">Save</button>
                                <button type="button" class="btn btn-secondary btn-sm mt-2" onclick="cancelEdit(@comment.Id)">Cancel</button>
                            </form>
                        </div>


                        @if (comment.UserId == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value)
                        {
                            <button class="btn btn-link btn-sm text-decoration-none custom-edit" onclick="enableEdit(@comment.Id)">
                                ✏️
                            </button>
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <p>No comments yet.</p>
        }
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <script src="/js/comments.js" defer></script>
    <script src="/js/slider.js" defer></script>
}
